* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}
main {
  max-width: 100vw;
}

/*HEADER Y NAV*/
.header {
  position: relative;
  background-color: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 75px;
  padding: 40px;
}

.header .logo {
  position: relative;
  cursor: pointer;
  flex-shrink: 2;
  flex-grow: 1;
  max-width: 15%;
}

.header .logo img {
  width: 100%;
}
nav {
  background-color: #2f86b8;
}
nav ul {
  width: 90%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
nav ul li {
  list-style: none;
  color: white;
  padding: 20px 60px;
  cursor: pointer;
  transition: background 1s ease;
}
nav ul li:hover {
  background-color: rgb(35, 153, 221);
}
.profile {
  margin-left: 40px;
  flex-shrink: 1;
  transition-duration: 0.5s;
}
.profile span {
  background-color: #ff802c;
  position: relative;
  display: inline-block;
  width: 50px;
  height: 50px;
  border-radius: 100%;
  padding: 3px;
}
.profile span img {
  width: 100%;
  height: 100%;
  border: none;
  border-radius: 100%;
  cursor: pointer;
}

/*Contenedor de los bloques de formulario y presentacion*/

.container {
  display: flex;
  height: 500px;
  width: 80%;
  margin: 50px auto;
  background-color: #ffffff;
  border-radius: 20px;
  box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.47);
}

/*Formularios*/
.login-register {
  width: 50%;
  background-color: #ffffff;
  border-radius: 20px;
  display: flex;
  justify-content: center;
}

.login-register form {
  width: 80%;
  height: 100%;
  background-color: white;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-evenly;
}

.login-register form h2 {
  text-align: center;
  font-size: 24px;
  font-weight: 400;
  color: #000000;
}

.login-register form input {
  width: 100%;
  padding: 10px;
  border: none;
  border-bottom: 1px solid #d9e0e8;
  font-size: 16px;
  outline: none;
}
.login-register form button {
  padding: 10px 80px;
  border: none;
  border-radius: 40px;
  font-size: 14px;
  background-color: #2f86b8;
  border: 1px solid transparent;
  color: #ffffff;
  cursor: pointer;
  outline: none;

  transition-duration: 0.25s;
}

/*Registro */
.register {
  position: relative;
  width: 50%;
  color: #ffffff;
  background-color: #2f86b8;
  border-radius: 20px;
  box-shadow: 2px 0px 3px 0px rgba(0, 0, 0, 0.47);
  text-align: center;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}
.register h3 {
  max-width: 80%;
  font-size: 24px;
  font-weight: 600;
  color: #ffffff;
}
.register p {
  max-width: 70%;
  color: #ffffff;
  font-size: 22px;
  font-weight: 300;
  text-align: center;
}
.register button {
  padding: 10px 80px;
  border: 1px solid transparent;
  border-radius: 40px;
  font-size: 14px;
  background-color: #ffffff;
  color: #2f86b8;
  cursor: pointer;
  outline: none;

  transition-duration: 0.25s;
}

.login-register form .form-check {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.login-register form .form-check input {
  width: 20px;
  height: 20px;
  display: inline-block;
  cursor: pointer;
}
.login-register form .form-check label {
  width: auto;
  margin-left: 10px;
  display: inline-block;
  font-size: 14px;
  font-weight: 400;
  text-align: center;
  color: #000000;
}

/*Cambiar el fondo de header y body*/
.register button:hover {
  cursor: pointer;
  color: #fff;
  background-color: #2f86b8;
  border: 1px solid #ffffff;
}
main .login-register form button:hover {
  cursor: pointer;
  color: #2f86b8;
  background-color: #ffffff;
  border: 1px solid #2f86b8;
}

/* Parte Responsive */
@media screen and (min-width: 970px) {
  .register,
  .login-register {
    margin: 10px;
  }
}
@media screen and (min-width: 730px) and (max-width: 970px) {
  .profile {
    margin-left: 0;
  }
  .register,
  .login-register {
    margin: 10px;
  }
}
@media screen and (max-width: 730px) {
  body {
    height: 100%;
  }
  .header {
    padding: 40px 20px;
  }
  .header .logo {
    max-width: 30%;
  }
  .profile {
    margin-left: 0;
  }
  .container {
    flex-direction: column;
    width: 90%;
    height: auto;
    margin: 20px auto;
  }
  main {
    display: flex;
    flex-direction: column;
    margin: 0px;
    width: 100%;
    height: auto;
  }
  .register {
    display: flex;
    width: 100%;
    padding: 40px 0;
  }
  .register h3 {
    margin-bottom: 40px;
  }
  .register p {
    margin-bottom: 20px;
  }
  .login-register {
    margin: 30px 0;
    display: flex;
    width: 100%;
  }
  .header .nav-links li {
    padding: 0 10px;
  }
  .header .nav-links li a {
    font-size: 16px;
  }
  .profile span {
    width: 50px;
    height: 50px;
  }

  .login-register form .form-check {
    margin: 20px 0;
  }
}
