*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
}

html{ 
    background-color: #2f86b8;
}
body{
    background-color: #ffffff;
    
}
/*HEADER Y NAV*/
.header{
    background-color: #ffffff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 85px;
    padding: 10% 10%;
}

.header .logo{
    cursor: pointer;
}

.header .logo img{
    height: 70px;
    width: auto;
    transition: all 0.3s;
}

.header .logo img:hover{
    transform: scale(1.2);
}


.header .nav-links{
    list-style: none;
}
.header .nav-links li{
    display: inline-block;
    padding: 0 20px;    
}

.header .nav-links li:hover{
    transform: scale(1.1);
}

.header .nav-links a{
    font-size: 700;
    color: #000000;
    text-decoration: none;    
}

.header .nav-links li a:hover{
    color: #0f0e80;
}



.profile span img{
    width: 65px;
    height: 60px;
    border: none;
    border-radius: 100%;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

.header .profile:hover{
    transform: scale(1.1);
}


body{
    background-color: #ffffff;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    height: 50%;
    border:none;
    border-radius: 40px;
}
main{
    width: 100%;
    max-width: 800px;
    padding:  0 20px;
    margin-left:auto;
    margin-right:auto;

}


/*Formularios*/
.login-register{
    align-items: center;
    width: 100%;
    max-width: 380px ;
    float: right;
    border-radius: 40px;
    box-shadow: 10px 5px 5px -4px rgb(230, 230, 230);

}

.login-register form{
    width: 100%;
    padding: 80px 20px;
    background-color: white;
    border-radius: 40px;

}

.login-register form h2{
    text-align: center;
    font-size: 20px;
    margin-bottom: 20px;
    color: #000000;
}

.login-register form input{
    width: 100%;
    margin-top: 20px;
    padding: 10px;
    border: none;
    border-bottom: 1px solid #D9E0E8;
    font-size: 16px;
    outline: none;


}
.login-register form button{
    padding: 10px 40px;
    margin-top: 40px;
    border: none;
    border-radius: 40px;
    font-size: 14px;
    background-color: #2f86b8;
    color: #ffffff;
    cursor: pointer;
    outline: none;


}

/*Registro */
.register{
    display: inline-block;
    width: 100%;
    max-width: 380px;
    margin: auto;
    display: inline-block;
    justify-content: center;
    color: #ffffff;
    backdrop-filter: blur(10px);
    background-color: #3689b99f;
    padding: 100px 10px;
    border: none;
    border-radius: 40px;
}
.content-register{
    padding: 0px 10px;
    margin: auto;
}
.content-register h3{
    text-align: center;
    font-size: 20px;
    margin-bottom: 20px;
    color: #ffffff;
}
.content-register p{
    text-align: left;
    margin-bottom: 20px;
    color:#ffffff;
}
.register button{
    padding: 10px 40px;
    margin-top: 40px;
    border: none;
    border-radius: 40px;
    font-size: 14px;
    background-color: #2f86b8;
    color: #ffffff;
    cursor: pointer;
    outline: none;

}

/*Cambiar el fondo de header y body*/
body, header {
    background-image: url(../HomebankingITBANK/images/triangles-background.jpeg);
    background-position: center;
    background-attachment: fixed;
    background-repeat: repeat;
}
main .content-register
button:hover{
    cursor: pointer;
    color:#0f0e80;
    background-color: #ffffff;
    border: 1px solid #0f0e80;


}
main .login-register form button:hover{
    cursor: pointer;
    color:#2f86b8;
    background-color: #ffffff;
    border: 1px solid #2f86b8;


}
