* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
}
body {
  background-color: #ffffff;
  background-image: url('./images/triangles-background.jpeg');
  background-size: cover;
}

/*HEADER Y NAV*/
.header {
  background-color: none;
  display: flex;
  align-items: center;
  height: 85px;
  margin-top: 30px;
  padding: 40px;
}

.header .logo {
  cursor: pointer;
  flex-grow: 1;
}

.header .logo img {
  height: 70px;
  width: auto;
  transition: all 0.3s;
}

.header .logo img:hover {
  transform: scale(1.2);
}

.header .nav-links {
  list-style: none;
}
.header .nav-links li {
  display: inline-block;
  padding: 0 20px;
}

.header .nav-links li:hover {
  transform: scale(1.1);
}

.header .nav-links a {
  font-size: 700;
  color: #000000;
  text-decoration: none;
}

.header .nav-links li a:hover {
  color: #0f0e80;
}

.profile {
  margin-left: 300px;
}
.profile span img {
  width: 65px;
  height: 60px;
  border: none;
  border-radius: 100%;
  cursor: pointer;
  transition: all 0.3s ease 0s;
}

.header .profile:hover {
  transform: scale(1.1);
}

main {
  display: flex;
  height: 500px;
  margin: 70px;
}

/*Formularios*/
.login-register {
  width: 50%;
  background-color: #ffffff;
  border-radius: 20px;
  box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.47);
  display: flex;
  justify-content: center;
}

.login-register form {
  width: 80%;
  height: 100%;
  background-color: white;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-evenly;
}

.login-register form h2 {
  text-align: center;
  font-size: 20px;
  color: #000000;
}

.login-register form input {
  width: 100%;
  padding: 10px;
  border: none;
  border-bottom: 1px solid #d9e0e8;
  font-size: 16px;
  outline: none;
}
.login-register form button {
  padding: 10px 80px;
  border: 1px solid transparent;
  border-radius: 40px;
  font-size: 14px;
  background-color: #2f86b8;
  color: #ffffff;
  cursor: pointer;
  outline: none;
}

/*Registro */
.register {
  width: 50%;
  color: #ffffff;
  background-color: #2f86b8;
  border-radius: 20px;
  box-shadow: 2px 0px 3px 0px rgba(0, 0, 0, 0.47);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}
.register h3 {
  font-size: 20px;
  color: #ffffff;
}
.register p {
  color: #ffffff;
  text-align: center;
}
.register button {
  padding: 10px 80px;
  border: 1px solid transparent;
  border-radius: 40px;
  font-size: 14px;
  background-color: #ffffff;
  color: #2f86b8;
  cursor: pointer;
  outline: none;
}

/*Cambiar el fondo de header y body*/
.register button:hover {
  cursor: pointer;
  color: #fff;
  background-color: #2f86b8;
  border: 1px solid #ffffff;
}
main .login-register form button:hover {
  cursor: pointer;
  color: #2f86b8;
  background-color: #ffffff;
  border: 1px solid #2f86b8;
}
