html, body {
  height: 100%;
  width: 100%;
}

/*HEADER Y NAV*/
.header {
  position: relative;
  background-color: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 75px;
  padding: 40px;
}

.header .logo {
  position: relative;
  cursor: pointer;
  flex-shrink: 2;
  flex-grow: 1;
  max-width: 15%;
}

.header .logo img {
  width: 100%;
}
nav {
  background-color: #2f86b8;
}
nav ul {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
nav ul li {
  width: 100%;
  list-style: none;
  text-align: center;
  color: white;
  cursor: pointer;
  transition: background 1s ease;
}
nav ul li:hover {
  background-color: rgb(35, 153, 221);
}
nav ul a {
  display: block;
  padding: 20px 0;
  color: white;
  text-decoration: none;
}
.profile {
  margin-left: 40px;
  flex-shrink: 1;
  transition-duration: 0.5s;
}
.profile span {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 60px;
  border-radius: 100%;
  padding: 3px;
}
.profile span img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  border: none;
  border-radius: 100%;
  cursor: pointer;
}
h1{
  color: black;
  text-align: center;
}


nav{
  background-color: #2F86B8;
  
}
nav a {
  color: #fff;
}
.navbar-toggler{
  border:  2px solid #fff;
  
} 
button{
  background-color: #fff;
}

span div{
width: 20px;
height: 2px;
background-color: #fff;
margin: 5px;
}