*{
    box-sizing: 0;
    padding: 0;
    margin: 0;
}
html, body {
  height: 100%;
  width: 100%;
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
}

.header {
  position: relative;
  background-color: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 75px;
  padding: 0px;
}

.header .logo {
  position: relative;
  cursor: pointer;
  flex-shrink: 2;
  flex-grow: 1;
  max-width: 15%;
}

.header .logo img {
  width: 100%;
}
nav {
  background-color: #2f86b8;
}
nav ul {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
nav ul li {
  width: 100%;
  list-style: none;
  text-align: center;
  color: white;
  cursor: pointer;
}

nav ul a {
  display: block;
  padding: 20px 0;
  color: white;
  text-decoration: none;
}

nav{
  background-color: #2F86B8;
  
}
nav a {
  color: #fff;
}
.navbar-toggler{
  border:  2px solid #fff;
  
} 
button{
  background-color: #fff;
}

span div{
width: 20px;
height: 2px;
background-color: #fff;
margin: 5px;
}

.profile {
  margin-left: 40px;
  flex-shrink: 1;
  transition-duration: 0.5s;
}
.profile span {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 60px;
  border-radius: 100%;
  padding: 3px;
}
.profile span img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  border: none;
  border-radius: 100%;
  cursor: pointer;
}

h1{
  margin: 10px 0;
  text-align: center;
  margin-bottom: 20px;
  
  color: #2f86b8;
}

.formulario{
  height: 180px;
  display:flex;
  flex-direction:column;
  align-items:center;
  justify-content: space-around;
}

.formulario input{
  padding: 8px;
}

.formulario #send{
  background-color: #2f86b8;
  color:white;
  border:none;
  border-radius: 6px;
  cursor:pointer;
}

.personas{
  border: 1px solid grey;
 
}

.personas div{
  border-bottom: 1px solid grey;
  padding: 8px;
}

.total{
  text-align:center;
}

.division{
  text-align:center;
   margin-bottom: 8px;
}